/mmrando_pink/
/ootrando_overworldmap_hamsda/
/ootrando_overworldmap_hamm1sda/

# no schemas
/schema/*
# But do keep layouts, manifest, repository schema
!/schema/layouts.json
!/schema/manifest.json
!/schema/repository.json
